-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: occupation
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `analysis_result`
--

DROP TABLE IF EXISTS `analysis_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_result` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'ç»“æžœID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `dimension` varchar(50) NOT NULL COMMENT 'åˆ†æžç»´åº¦ï¼šindustry/city/skill/education/trend',
  `dimension_value` varchar(200) NOT NULL COMMENT 'ç»´åº¦å€¼ï¼ˆå¦‚"Java"ã€"åŒ—äº¬"ï¼‰',
  `metric_name` varchar(50) NOT NULL COMMENT 'æŒ‡æ ‡åç§°ï¼šjob_count/avg_salary_min/avg_salary_max',
  `metric_value` decimal(20,4) NOT NULL COMMENT 'æŒ‡æ ‡å€¼',
  `period_type` varchar(10) DEFAULT NULL COMMENT 'å‘¨æœŸç±»åž‹ï¼šDAY/WEEK/MONTH/YEAR',
  `period_value` varchar(20) DEFAULT NULL COMMENT 'å‘¨æœŸå€¼ï¼ˆå¦‚"20260706"ã€"2026W27"ï¼‰',
  `calc_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'è®¡ç®—æ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_tenant_dimension` (`tenant_id`,`dimension`),
  KEY `idx_dimension_value` (`dimension`,`dimension_value`),
  KEY `idx_calc_time` (`calc_time`)
) ENGINE=InnoDB AUTO_INCREMENT=358 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='åˆ†æžç»“æžœè¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `analysis_result`
--

LOCK TABLES `analysis_result` WRITE;
/*!40000 ALTER TABLE `analysis_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `analysis_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_client`
--

DROP TABLE IF EXISTS `api_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_client` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'å®¢æˆ·ç«¯ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `client_name` varchar(100) NOT NULL COMMENT 'å®¢æˆ·ç«¯åç§°',
  `api_key` varchar(64) NOT NULL COMMENT 'API Keyï¼ˆå®¢æˆ·ç«¯æ ‡è¯†ï¼‰',
  `api_secret` varchar(255) NOT NULL COMMENT 'API Secretï¼ˆåŠ å¯†å­˜å‚¨ï¼‰',
  `scopes` varchar(200) DEFAULT NULL COMMENT 'æŽˆæƒèŒƒå›´ï¼ˆé€—å·åˆ†éš”ï¼‰',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT 'çŠ¶æ€ï¼š1=å¯ç”¨ 0=ç¦ç”¨',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'é€»è¾‘åˆ é™¤',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_api_key` (`api_key`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='API å®¢æˆ·ç«¯è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_client`
--

LOCK TABLES `api_client` WRITE;
/*!40000 ALTER TABLE `api_client` DISABLE KEYS */;
INSERT INTO `api_client` VALUES (1,1,'æµ‹è¯•å®¢æˆ·ç«¯','occ_test_2026','demo_secret_key_for_dev','jobs:read,reports:read,skills:read',1,0,'2026-07-07 15:32:55','2026-07-07 15:32:55');
/*!40000 ALTER TABLE `api_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crawler_log`
--

DROP TABLE IF EXISTS `crawler_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crawler_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'æ—¥å¿—ID',
  `task_id` bigint NOT NULL COMMENT 'å…³è”é‡‡é›†ä»»åŠ¡ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `start_time` datetime DEFAULT NULL COMMENT 'å¼€å§‹æ—¶é—´',
  `end_time` datetime DEFAULT NULL COMMENT 'ç»“æŸæ—¶é—´',
  `record_count` int DEFAULT '0' COMMENT 'é‡‡é›†è®°å½•æ•°',
  `status` varchar(20) NOT NULL DEFAULT 'RUNNING' COMMENT 'çŠ¶æ€ï¼šRUNNING/SUCCESS/FAILED',
  `error_msg` text COMMENT 'é”™è¯¯ä¿¡æ¯',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_task_id` (`task_id`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é‡‡é›†æ—¥å¿—è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crawler_log`
--

LOCK TABLES `crawler_log` WRITE;
/*!40000 ALTER TABLE `crawler_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `crawler_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crawler_task`
--

DROP TABLE IF EXISTS `crawler_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crawler_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'ä»»åŠ¡ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `source_type` varchar(30) NOT NULL COMMENT 'é‡‡é›†æºç±»åž‹ï¼šBOSS_ZHIPIN/ZHAOPIN/COMPANY_OFFICIAL',
  `source_name` varchar(100) NOT NULL COMMENT 'é‡‡é›†æºåç§°',
  `url_pattern` varchar(500) DEFAULT NULL COMMENT 'URL åŒ¹é…æ¨¡å¼',
  `cron_expr` varchar(50) DEFAULT NULL COMMENT 'Cron å®šæ—¶è¡¨è¾¾å¼',
  `status` tinyint NOT NULL DEFAULT '0' COMMENT 'çŠ¶æ€ï¼š0=åœæ­¢ 1=è¿è¡Œä¸­',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'é€»è¾‘åˆ é™¤',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_tenant_id` (`tenant_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=1783513172777 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é‡‡é›†ä»»åŠ¡è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crawler_task`
--

LOCK TABLES `crawler_task` WRITE;
/*!40000 ALTER TABLE `crawler_task` DISABLE KEYS */;
INSERT INTO `crawler_task` VALUES (1783444945906,1,'MOCK','模拟采集-mock-jobs.json','mock-jobs.json',NULL,0,0,'2026-07-08 01:22:26','2026-07-08 01:22:26'),(1783495504447,1,'MOCK','模拟采集-mock-jobs.json','mock-jobs.json',NULL,0,0,'2026-07-08 15:25:04','2026-07-08 15:25:04'),(1783495644206,1,'BOSS_ZHIPIN','模拟采集-mock-jobs.json','mock-jobs.json','',1,1,'2026-07-08 15:27:24','2026-07-08 12:21:35'),(1783513172776,1,'MOCK','模拟采集-mock-jobs.json','mock-jobs.json',NULL,0,0,'2026-07-08 20:19:33','2026-07-08 20:19:33');
/*!40000 ALTER TABLE `crawler_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_detail`
--

DROP TABLE IF EXISTS `job_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'èŒä½ID',
  `title` varchar(200) NOT NULL COMMENT 'èŒä½æ ‡é¢˜',
  `company` varchar(200) DEFAULT NULL COMMENT 'å…¬å¸åç§°',
  `city` varchar(50) DEFAULT NULL COMMENT 'åŸŽå¸‚',
  `industry` varchar(100) DEFAULT NULL COMMENT 'è¡Œä¸š',
  `salary_min` int DEFAULT NULL COMMENT 'è–ªèµ„æœ€ä½Žå€¼ï¼ˆå…ƒï¼‰',
  `salary_max` int DEFAULT NULL COMMENT 'è–ªèµ„æœ€é«˜å€¼ï¼ˆå…ƒï¼‰',
  `education` varchar(20) DEFAULT NULL COMMENT 'å­¦åŽ†è¦æ±‚',
  `experience` varchar(50) DEFAULT NULL COMMENT 'ç»éªŒè¦æ±‚',
  `skills` text COMMENT 'æŠ€èƒ½æ ‡ç­¾ï¼ˆJSON æ•°ç»„ï¼‰',
  `description` longtext COMMENT 'èŒä½æè¿°',
  `publish_date` date DEFAULT NULL COMMENT 'å‘å¸ƒæ—¥æœŸ',
  `source` varchar(50) DEFAULT NULL COMMENT 'æ•°æ®æ¥æº',
  `source_url` varchar(500) DEFAULT NULL COMMENT 'æ¥æºURL',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_city` (`city`),
  KEY `idx_industry` (`industry`),
  KEY `idx_salary` (`salary_min`,`salary_max`),
  KEY `idx_publish_date` (`publish_date`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æ¸…æ´—åŽèŒä½è¯¦æƒ…è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_detail`
--

LOCK TABLES `job_detail` WRITE;
/*!40000 ALTER TABLE `job_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `push_record`
--

DROP TABLE IF EXISTS `push_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `push_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'æŽ¨é€ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `user_id` bigint NOT NULL COMMENT 'ç›®æ ‡ç”¨æˆ·ID',
  `type` varchar(20) NOT NULL COMMENT 'æŽ¨é€ç±»åž‹ï¼šRECOMMEND/SYSTEM',
  `title` varchar(200) NOT NULL COMMENT 'æŽ¨é€æ ‡é¢˜',
  `content` text COMMENT 'æŽ¨é€å†…å®¹',
  `is_read` tinyint NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å·²è¯»ï¼š0=æœªè¯» 1=å·²è¯»',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_user_read` (`user_id`,`is_read`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æŽ¨é€è®°å½•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `push_record`
--

LOCK TABLES `push_record` WRITE;
/*!40000 ALTER TABLE `push_record` DISABLE KEYS */;
INSERT INTO `push_record` VALUES (1,1,2074798090689236993,'SYSTEM','投递成功','你已成功投递「腾讯科技 · Java 开发工程师」，请留意后续通知。',0,'2026-07-08 18:11:37');
/*!40000 ALTER TABLE `push_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `raw_job_data`
--

DROP TABLE IF EXISTS `raw_job_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `raw_job_data` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'æ•°æ®ID',
  `source` varchar(50) NOT NULL COMMENT 'æ•°æ®æ¥æº',
  `source_url` varchar(500) DEFAULT NULL COMMENT 'æ¥æºURL',
  `raw_content` longtext NOT NULL COMMENT 'åŽŸå§‹å†…å®¹ï¼ˆJSONï¼‰',
  `fetch_time` datetime NOT NULL COMMENT 'é‡‡é›†æ—¶é—´',
  `status` varchar(20) NOT NULL DEFAULT 'RAW' COMMENT 'çŠ¶æ€ï¼šRAW=åŽŸå§‹ CLEANED=å·²æ¸…æ´—',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_source` (`source`),
  KEY `idx_status` (`status`),
  KEY `idx_fetch_time` (`fetch_time`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='åŽŸå§‹èŒä½æ•°æ®è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `raw_job_data`
--

LOCK TABLES `raw_job_data` WRITE;
/*!40000 ALTER TABLE `raw_job_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `raw_job_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_record`
--

DROP TABLE IF EXISTS `report_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'è®°å½•ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `template_id` bigint NOT NULL COMMENT 'å…³è”æ¨¡æ¿ID',
  `params` text COMMENT 'ç”Ÿæˆå‚æ•°ï¼ˆJSONï¼‰',
  `file_url` varchar(500) DEFAULT NULL COMMENT 'ç”Ÿæˆæ–‡ä»¶URL',
  `file_type` varchar(10) DEFAULT NULL COMMENT 'æ–‡ä»¶ç±»åž‹ï¼šPDF/WORD/HTML',
  `status` varchar(20) NOT NULL DEFAULT 'PENDING' COMMENT 'çŠ¶æ€ï¼šPENDING/GENERATING/SUCCESS/FAILED',
  `error_msg` text COMMENT 'é”™è¯¯ä¿¡æ¯',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'é€»è¾‘åˆ é™¤',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_tenant_id` (`tenant_id`),
  KEY `idx_template_id` (`template_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2074799097955536899 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æŠ¥å‘Šè®°å½•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_record`
--

LOCK TABLES `report_record` WRITE;
/*!40000 ALTER TABLE `report_record` DISABLE KEYS */;
INSERT INTO `report_record` VALUES (2074799097955536898,1,2074798885715365889,'{}','.\\data\\reports\\1\\7e42cf14ef7e41c5986e745d4e95e130.html','HTML','SUCCESS',NULL,0,'2026-07-08 18:13:48','2026-07-08 18:13:48');
/*!40000 ALTER TABLE `report_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_template`
--

DROP TABLE IF EXISTS `report_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report_template` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'æ¨¡æ¿ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `name` varchar(200) NOT NULL COMMENT 'æ¨¡æ¿åç§°',
  `industry` varchar(100) DEFAULT NULL COMMENT 'é€‚ç”¨è¡Œä¸šï¼ˆNULL=é€šç”¨ï¼‰',
  `type` varchar(20) NOT NULL COMMENT 'æŠ¥å‘Šç±»åž‹ï¼šMONTHLY/QUARTERLY/YEARLY',
  `template_content` longtext COMMENT 'æ¨¡æ¿å†…å®¹ï¼ˆJSON ç»“æž„ï¼‰',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT 'çŠ¶æ€ï¼š1=å¯ç”¨ 0=ç¦ç”¨',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'é€»è¾‘åˆ é™¤',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_tenant_id` (`tenant_id`),
  KEY `idx_type` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=2074798885715365890 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æŠ¥å‘Šæ¨¡æ¿è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_template`
--

LOCK TABLES `report_template` WRITE;
/*!40000 ALTER TABLE `report_template` DISABLE KEYS */;
INSERT INTO `report_template` VALUES (2074798885715365889,1,'互联网行业就业月报','互联网','MONTHLY',NULL,1,0,'2026-07-08 18:12:57','2026-07-08 18:12:57');
/*!40000 ALTER TABLE `report_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_behavior`
--

DROP TABLE IF EXISTS `student_behavior`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_behavior` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'è¡Œä¸ºID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `user_id` bigint NOT NULL COMMENT 'å­¦ç”Ÿç”¨æˆ·ID',
  `job_id` bigint NOT NULL COMMENT 'èŒä½ID',
  `action` varchar(20) NOT NULL COMMENT 'è¡Œä¸ºç±»åž‹ï¼šVIEW/FAVORITE/APPLY/IGNORE',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_user_job` (`user_id`,`job_id`),
  KEY `idx_user_action` (`user_id`,`action`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å­¦ç”Ÿè¡Œä¸ºè®°å½•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_behavior`
--

LOCK TABLES `student_behavior` WRITE;
/*!40000 ALTER TABLE `student_behavior` DISABLE KEYS */;
INSERT INTO `student_behavior` VALUES (1,1,2074798090689236993,1,'FAVORITE','2026-07-08 18:11:26'),(2,1,2074798090689236993,1,'APPLY','2026-07-08 18:11:37'),(3,1,2074798090689236993,2,'VIEW','2026-07-08 19:52:13');
/*!40000 ALTER TABLE `student_behavior` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_alert`
--

DROP TABLE IF EXISTS `sys_alert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_alert` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'å‘Šè­¦ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `type` varchar(50) NOT NULL COMMENT 'å‘Šè­¦ç±»åž‹ï¼šKAFKA_LAG/CRAWLER_FAILURE/DB_POOL/SYSTEM',
  `level` varchar(10) NOT NULL COMMENT 'å‘Šè­¦çº§åˆ«ï¼šINFO/WARN/ERROR',
  `content` text NOT NULL COMMENT 'å‘Šè­¦å†…å®¹',
  `is_read` tinyint NOT NULL DEFAULT '0' COMMENT 'æ˜¯å¦å·²è¯»ï¼š0=æœªè¯» 1=å·²è¯»',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  PRIMARY KEY (`id`),
  KEY `idx_tenant_level` (`tenant_id`,`level`),
  KEY `idx_is_read` (`is_read`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç³»ç»Ÿå‘Šè­¦è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_alert`
--

LOCK TABLES `sys_alert` WRITE;
/*!40000 ALTER TABLE `sys_alert` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_alert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_student_profile`
--

DROP TABLE IF EXISTS `sys_student_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_student_profile` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'ç”»åƒID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `user_id` bigint NOT NULL COMMENT 'å…³è”ç”¨æˆ·ID',
  `major` varchar(100) DEFAULT NULL COMMENT 'ä¸“ä¸š',
  `skills` text COMMENT 'æŠ€èƒ½åˆ—è¡¨ï¼ˆJSON æ•°ç»„æˆ–é€—å·åˆ†éš”ï¼‰',
  `expected_city` varchar(50) DEFAULT NULL COMMENT 'æ„å‘åŸŽå¸‚',
  `expected_industry` varchar(100) DEFAULT NULL COMMENT 'æ„å‘è¡Œä¸š',
  `expected_salary_min` int DEFAULT NULL COMMENT 'æœŸæœ›è–ªèµ„ä¸‹é™ï¼ˆå…ƒï¼‰',
  `expected_salary_max` int DEFAULT NULL COMMENT 'æœŸæœ›è–ªèµ„ä¸Šé™ï¼ˆå…ƒï¼‰',
  `education_level` varchar(20) DEFAULT NULL COMMENT 'å­¦åŽ†ï¼šä¸“ç§‘/æœ¬ç§‘/ç¡•å£«/åšå£«',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'é€»è¾‘åˆ é™¤',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_id` (`user_id`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2074798372143812610 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='å­¦ç”Ÿç”»åƒè¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_student_profile`
--

LOCK TABLES `sys_student_profile` WRITE;
/*!40000 ALTER TABLE `sys_student_profile` DISABLE KEYS */;
INSERT INTO `sys_student_profile` VALUES (2074798372143812609,1,2074798090689236993,'计算机科学与技术','Java,Python,Spring Boot,MySQL',NULL,NULL,NULL,NULL,NULL,0,'2026-07-08 18:10:54','2026-07-08 18:10:54');
/*!40000 ALTER TABLE `sys_student_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_tenant`
--

DROP TABLE IF EXISTS `sys_tenant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_tenant` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'ç§Ÿæˆ·ID',
  `name` varchar(100) NOT NULL COMMENT 'ç§Ÿæˆ·åç§°ï¼ˆå­¦æ ¡/ä¼ä¸šåç§°ï¼‰',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT 'çŠ¶æ€ï¼š1=å¯ç”¨ 0=ç¦ç”¨',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç§Ÿæˆ·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_tenant`
--

LOCK TABLES `sys_tenant` WRITE;
/*!40000 ALTER TABLE `sys_tenant` DISABLE KEYS */;
INSERT INTO `sys_tenant` VALUES (1,'测试学院',1,'2026-07-07 15:32:55','2026-07-07 16:03:45');
/*!40000 ALTER TABLE `sys_tenant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'ç”¨æˆ·ID',
  `tenant_id` bigint NOT NULL COMMENT 'æ‰€å±žç§Ÿæˆ·ID',
  `username` varchar(50) NOT NULL COMMENT 'ç”¨æˆ·å',
  `password_hash` varchar(255) NOT NULL COMMENT 'å¯†ç ï¼ˆBCrypt åŠ å¯†ï¼‰',
  `role` varchar(20) NOT NULL COMMENT 'è§’è‰²ï¼šSTUDENT/TEACHER/ADMIN/HR',
  `real_name` varchar(50) DEFAULT NULL COMMENT 'çœŸå®žå§“å',
  `phone` varchar(20) DEFAULT NULL COMMENT 'æ‰‹æœºå·',
  `email` varchar(100) DEFAULT NULL COMMENT 'é‚®ç®±',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT 'çŠ¶æ€ï¼š1=å¯ç”¨ 0=ç¦ç”¨',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'é€»è¾‘åˆ é™¤ï¼š0=æ­£å¸¸ 1=å·²åˆ é™¤',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'åˆ›å»ºæ—¶é—´',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'æ›´æ–°æ—¶é—´',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tenant_username` (`tenant_id`,`username`),
  KEY `idx_tenant_id` (`tenant_id`),
  KEY `idx_role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=2074798090689236994 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç”¨æˆ·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
INSERT INTO `sys_user` VALUES (1,1,'admin','$2a$10$cWguMXjjJh1vYVAE34YdaODzl0uCf/XQD2FOmXGfHxvBhr7VlG80q','ADMIN','系统管理员',NULL,NULL,1,0,'2026-07-07 15:32:55','2026-07-07 16:04:19'),(2074798090689236993,1,'student01','$2a$10$nJsGakFPh8XemO9Js.DxhO7t7MwSEGJ0Kpl/ZCJbhOUjCfPQ1Znqa','STUDENT','测试学生',NULL,NULL,1,0,'2026-07-08 18:09:47','2026-07-08 18:09:47');
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-08 12:32:22
